@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.bg-primary {
    background-color: #010101 !important;
    color: #FFFFFF;
}

.bg-primary a {
    color: #FFFFFF;
}

.primary {
    color: #010101 !important;
}

.btn-green,
.btn-gray {
    color: #000000;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    min-width: 250px;
}

.btn-green {
    background: #63D471;
}

.btn-gray {
    background: #D6D5D5;
}

.nav-item {
    font-style: normal;
    font-weight: 800;
/*
    font-size: 21px;
*/
    color: #FFFFFF;
    text-transform: uppercase;
}

.nav-link {
    padding: 0 2rem !important;
    color: #FFFFFF !important;
}

.nav-link:hover {
    opacity: 80%;
}

.link-button {
    text-decoration: underline;
    color: #7C7C7C;
}

.number {
    font-weight: 800;
    font-size: 45px;
}

.img {
    background: #000000;
    min-width: 300px;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.triangle {
    position: absolute;
    top: calc(50% - 25px);
    border-top: 25px solid transparent;
    border-left: 50px solid red;
    border-bottom: 25px solid transparent;
}

body {
    font-family: 'Lato', sans-serif;
    color: #000000;
}

h1 {
    font-weight: 900;
    font-size: 50px;
}

strong {
    font-size: 26px;
}
